.menu {
  position: "absolute";
  display: "flex";
  flex-direction: "column";
  align-items: "center";
  color: "black";
}

.menu a {
  color: rgba(0,0,0,.3);
  text-transform: uppercase;
}

.menu ul {
  margin: 20px 20px;
  border-color: rgba(0,0,0,.1);
  font: inherit;
  font-size: 14px;
  line-Height: 20px;
  list-style: none;
  padding: 0;
  width: 100%;
}

.menu li a {
  width: 100%;
  border-color: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu .arrow::after {
  content: ">";
  position: absolute;
  right: 0;
}